html {
  font-size: $font-size;
  overflow-y: scroll;
}

body {
  font-family: $font-main;
  font-size: $font-size;
  max-width: 100%;
  overflow-x: hidden;
  line-height: 1.42857143;
}

a {
  text-decoration: none;
  color: $color-primary;
}
