html {
  font-size: $font-size;
  overflow-y: scroll;
}

body {
  font-family: $font-main;
  font-size: $font-size;
  max-width: 100%;
  overflow-x: hidden;
  line-height: 1.42857143;
}

a {
  text-decoration: none;
  color: $color-primary;
}

section {
  position: relative;
  overflow: hidden;
}

h1 {
  margin: -$gap-md 0 1em;
  font-size: 3rem;
  font-family: $font-header;
  line-height: 1.1;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 3px solid $color-accent-light;
    margin: 0.85em 0 0 $gap;
  }
}
h2 {
  margin: 4 * $gap 0 3 * $gap 3 * $gap;
  font-size: 2.5rem;
  font-family: $font-header;
  line-height: 1.1;

  &::before {
    position: absolute;
    content: "";
    width: $gap * 2;
    border-bottom: 3px solid $color-accent-light;
    margin: 0.25em 0 0 0;
    left: 0;
  }

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 3px solid $color-accent-light;
    margin: 0.85em 0 0 $gap;
  }
}

h3 {
  font-size: 1.5rem;
  line-height: 1.1;
  margin-bottom: $gap-md;
}
