.header {
  margin-bottom: $gap-xl;

  &-logo {
    padding: 100px 0;
    text-align: center;
    background-image: url(../img/header-bg.jpg);
    background-position: center;
    background-size: cover;
    background-color: #232323;

    &__title {
      display: block;
      color: $color-accent;
      letter-spacing: 0.33em;
      font-family: $font-header;
      padding-left: 0.33em;
      text-shadow: 0 0 5px $color-black, 0 0 10px $color-black,
        0 0 20px $color-black;

      @include xs {
        font-size: 2.5rem;
      }

      @include xs-min {
        font-size: 3.5rem;
      }
    }

    &__description {
      text-shadow: 0 0 5px $color-black, 0 0 10px $color-black,
        0 0 20px $color-black;
      font-size: 1.15rem;
      color: $color-white;
      letter-spacing: 0.2em;
      display: block;
    }
  }
}
.navbar-right {
  @include md-min {
    margin-right: -$gap;
  }

  @include md {
    margin-right: 0;
  }

  > li {
    @include md-min {
      margin: 5px 0 5px 5px;
    }

    @include md {
      margin: 5px 0 0 0;

      &:last-of-type {
        margin-bottom: 5px;
      }
    }
  }
}
.navbar-left > li {
  @include md-min {
    margin: 5px 5px 5px 0;
  }

  @include md {
    margin: 5px 0 0 0;
  }
}
