.main {
  margin-bottom: $gap-xl;
}

.new-films {
  margin-bottom: $gap;
  &-row {
    margin-left: -$gap-sm;
    margin-right: -$gap-sm;
    margin-bottom: -$gap;
  }

  &-item {
    margin-bottom: $gap;
    padding-left: $gap-sm;
    padding-right: $gap-sm;

    &:hover .img-thumbnail {
      border-color: $color-accent;
      background-color: $color-accent;
    }

    &:hover h3 {
      color: $color-white;
    }

    &__img {
      width: 100%;
      @extend %img-pos-thumbnail;
    }

    &__thumbnail {
      margin-bottom: 0;
    }

    &__caption {
      padding: 9px;
      color: $color-dark;
      text-align: center;
    }

    &__title {
      @extend %thumbnail-title;
    }
  }
}

.top-week {
  margin-bottom: $gap;
  &-row {
    margin-left: -$gap-sm;
    margin-right: -$gap-sm;
    margin-bottom: -$gap;
  }

  &-item {
    margin-bottom: $gap;
    padding-left: $gap-sm;
    padding-right: $gap-sm;

    &:hover .img-thumbnail {
      border-color: $color-accent;
      background-color: $color-accent;
    }

    &:hover h3 {
      color: $color-white;
    }

    &__img {
      width: 100%;
      @extend %img-pos-thumbnail;
    }

    &__thumbnail {
      margin-bottom: 0;
    }

    &__caption {
      padding: 9px;
      color: $color-dark;
      text-align: center;
    }

    &__title {
      @extend %thumbnail-title;
    }
  }
}

.film-news-item {
  &:not(:last-child) {
    margin-bottom: $gap * 3;
  }

  &:last-child {
    margin-bottom: $gap-md;
  }

  h3 > a {
    transition: color 0.25s;
    font-family: $font-main;
    margin-top: 20px;
  }

  &__thumbnail {
    margin-bottom: 0;
  }

  &__img {
    width: 100%;
    @extend %img-pos-thumbnail;
  }

  &:hover .img-thumbnail {
    border-color: $color-accent;
    background-color: $color-accent;
  }

  &:hover a {
    text-decoration: none;
    color: $color-accent;
  }

  &:hover &__btn {
    color: $color-white;
    background-color: $color-accent;
  }

  &__description {
    text-align: justify;
  }

  &__btn {
    background-color: $color-accent-light;
    color: $color-white;
    float: right;
    transition: background-color 0.25s;
  }
}
