.sidebar-left {
  margin-bottom: $gap-xl;
}

.vertical-slider {
  overflow: hidden;
  border-radius: 4px;
}

.user-form {
  position: relative;

  &__tabs {
    position: absolute;
    top: 0;
    right: 10px;
    border: none;

    button {
      padding: 14px 5px 12px !important;
      color: $color-gray;
      border: none !important;
      background-color: transparent !important;

      transform: scale(1.35);

      :nth-of-type(1) {
        margin-left: 5px;
      }

      &:focus,
      &:hover {
        color: $color-white;
      }
    }
  }
}
.site-news {
  &-item {
    position: relative;
    clear: both;

    &:hover .img-thumbnail {
      border-color: $color-accent;
      background-color: $color-accent;
    }

    &:hover a {
      color: $color-accent;
    }

    &:not(:last-child) {
      margin-bottom: $gap;
      min-height: 85px;
    }

    &:not(:last-child)::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: -4px;
      height: 1px;
      width: calc(100% - 85px);
      background-color: $color-gray;
    }

    &__title {
      margin-bottom: 0.5em;
    }

    &__link {
      @include block-shortener(1rem, 1.5, 50px, 2);
      transition: color 0.25s;
    }

    &__img {
      float: left;
      margin: 0 $gap-md $gap-md 0;
      width: 75px;
    }

    &__date {
      font-size: 0.8rem;
      text-align: right;
      color: #6f6f6f;
    }
  }
}

.top-films {
  &__body {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  &__item {
    background-color: transparent;
    margin-left: -1px;
    margin-right: -1px;
    padding: 10px 55px 10px 15px;
    color: $color-primary !important;

    &:hover,
    &:focus {
      color: $color-white !important;
      background-color: $color-accent !important;
      border-color: $color-accent !important;

      .badge {
        background-color: $color-dark;
      }
    }

    &:first-child {
      border-radius: 0;
      border-top: none;
    }
    &:last-child {
      border-radius: 0;
      border-bottom: none;
    }
  }

  &__badge {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translatey(-50%);
  }
}
