.sidebar-left {
  margin-bottom: $gap-xl;
}

.vertical-slider {
  overflow: hidden;
  border-radius: 4px;
}

.user-form {
  position: relative;

  &__tabs {
    position: absolute;
    top: 0;
    right: 10px;
    border: none;

    button {
      padding: 14px 5px 12px !important;
      color: $color-gray;
      border: none !important;
      background-color: transparent !important;

      transform: scale(1.35);

      :nth-of-type(1) {
        margin-left: 5px;
      }

      &:focus,
      &:hover {
        color: $color-white;
      }
    }
  }
}
.site-news {
  &-item {
    position: relative;
    clear: both;

    &:not(:last-child) {
      margin-bottom: $gap;
      min-height: 85px;
    }

    &:not(:last-child)::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: -4px;
      height: 1px;
      width: calc(100% - 85px);
      background-color: $color-gray;
    }

    &__title {
      margin-bottom: 0.5em;
    }

    &__link {
      @include block-shortener(1rem, 1.5, 50px, 2);
    }

    &__img {
      float: left;
      margin: 0 $gap-md $gap-md 0;
      width: 75px;
    }

    &__date {
      font-size: 0.8rem;
      text-align: right;
      color: #6f6f6f;
    }
  }
}
