@use "../presets" as *;
@use "../mixins" as *;

.film-preview {
  font-size: 1.2em;

  &__card {
    margin-bottom: 20px;

    > .card-body {
      padding: 19px;
    }
  }

  &__wrapper {
    white-space: nowrap;

    &:not(:last-of-type) {
      margin-right: $gap;
    }
  }

  &__badge {
    font-size: 0.8em;
  }
}

.film-description {
  &__card {
    margin-bottom: 20px;

    > .card-body {
      padding: 19px;
    }
  }
}

.film-comms > .card {
  &:last-child {
    margin-bottom: 0;
  }
}

.film-comm-form {
  &__btn {
    float: right;
    background-color: $color-accent-light;
    color: $color-white;

    &:hover,
    &:focus {
      color: $color-white;
      background-color: $color-accent;
    }
  }
}
