.navbar {
  background-color: #191919;
  padding: 0;
  border-bottom: 1px solid transparent;
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding: 15px;
  line-height: 20px;
  border-radius: 4px;
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
.navbar-expand-lg .navbar-nav .nav-link:focus, .navbar-expand-lg .navbar-nav .nav-link:hover {
  background-color: #165690;
  color: #ffffff;
}
.navbar-dark .navbar-nav .nav-link.active {
  background-color: #053159;
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
.navbar-dark .navbar-nav .nav-link.active:focus, .navbar-dark .navbar-nav .nav-link.active:hover {
  background-color: #517ba2;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

.card {
  border-radius: 4px;
  margin-bottom: 30px;
  border: none;
}
.card > .card-header {
  color: #ffffff;
  letter-spacing: 0.1em;
  border: none;
  font-size: 1.25rem;
  background-color: #df8a13;
  padding: 9.99999999px 15px;
}
.card > .card-body {
  background-color: #f4f4f4;
  border: 1px solid #d5d5d5;
  border-radius: 0 0 4px 4px;
  padding: 15px;
}

.row > * {
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.input-group-lg > .form-control {
  font-size: 0.875rem;
  line-height: 1.3333333;
}

.form-control {
  font-size: 0.875rem;
  line-height: 1.3333333;
}

.img-thumbnail {
  -webkit-transition: background-color 0.25s;
  -o-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

html {
  font-size: 16px;
  overflow-y: scroll;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  max-width: 100%;
  overflow-x: hidden;
  line-height: 1.42857143;
}

a {
  text-decoration: none;
  color: #165690;
}

.header {
  margin-bottom: 80px;
}
.header-logo {
  padding: 100px 0;
  text-align: center;
  background-image: url(../img/header-bg.jpg);
  background-position: center;
  background-size: cover;
  background-color: #232323;
}
.header-logo__title {
  display: block;
  font-size: 3.5rem;
  color: #df8a13;
  letter-spacing: 0.33em;
  font-family: "PT Serif", serif;
  padding-left: 0.33em;
  text-shadow: 0 0 5px #000000, 0 0 10px #000000, 0 0 20px #000000;
}
.header-logo__description {
  text-shadow: 0 0 5px #000000, 0 0 10px #000000, 0 0 20px #000000;
  font-size: 1.15rem;
  color: #ffffff;
  letter-spacing: 0.2em;
  display: block;
}

.navbar-right {
  margin-right: -15px;
}
.navbar-right > li {
  margin: 5px 0 5px 5px;
}

.navbar-left > li {
  margin: 5px 5px 5px 0;
}

.sidebar-left {
  margin-bottom: 80px;
}

.vertical-slider {
  overflow: hidden;
  border-radius: 4px;
}

.user-form {
  position: relative;
}
.user-form__tabs {
  position: absolute;
  top: 0;
  right: 10px;
  border: none;
}
.user-form__tabs button {
  padding: 14px 5px 12px !important;
  color: #d5d5d5;
  border: none !important;
  background-color: transparent !important;
  -webkit-transform: scale(1.35);
      -ms-transform: scale(1.35);
          transform: scale(1.35);
}
.user-form__tabs button :nth-of-type(1) {
  margin-left: 5px;
}
.user-form__tabs button:focus, .user-form__tabs button:hover {
  color: #ffffff;
}

.site-news-item {
  position: relative;
  clear: both;
}
.site-news-item:hover .img-thumbnail {
  border-color: #df8a13;
  background-color: #df8a13;
}
.site-news-item:hover a {
  color: #df8a13;
}
.site-news-item:not(:last-child) {
  margin-bottom: 15px;
  min-height: 85px;
}
.site-news-item:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -4px;
  height: 1px;
  width: calc(100% - 85px);
  background-color: #d5d5d5;
}
.site-news-item__title {
  margin-bottom: 0.5em;
}
.site-news-item__link {
  display: -webkit-box;
  overflow: hidden;
  height: 50px;
  font-size: 1rem;
  line-height: 1.5rem;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  -webkit-transition: color 0.25s;
  -o-transition: color 0.25s;
  transition: color 0.25s;
}
.site-news-item__img {
  float: left;
  margin: 0 9.99999999px 9.99999999px 0;
  width: 75px;
}
.site-news-item__date {
  font-size: 0.8rem;
  text-align: right;
  color: #6f6f6f;
}